@mixin sizing($width, $height) {
  width: $width;
  height: $height;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  @include sizing(75%, 80vh);
  margin: 20px auto;

  #input,
  #preview {
    @include sizing(49%, 100%);
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
  }

  #input {
    float: left;
    color: #666;
    font-size: 14px;
    line-height: 20px;
    min-height: 20%;
    max-height: 100%;
    -moz-resize: vertical;
    resize: vertical;
    overflow: auto; // Removes default scrollbar in IE
  }

  #preview {
    float: right;
  }
}

@media only screen and (max-width: 1000px) {
  #container {
    #input,
    #preview {
      @include sizing(100%, 100%);
      display: block;
      float: none;
    }
  }
}
